body{
	background-color: lightblue;
}
#navigation{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: blue;
}
li{
	float: left;
}	
li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #00cccc;
}
.active {
	background-color: #ccccff;
}
h1{
	font-family:courier;
	color: purple;
	font-size: 300%;
	text-align: center;
	font-weight: bold;
}
#pic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}
p{
	font-family: Lucida Console;
	text-align: center;
}
p a{
	text-decoration: none;
	color: black;
}
p a:link{
	color: red;
}
p a:visited{
	color: #e600e6;
}
p a:hover{
	color: #800000;
}
p a:active{
	color: #5c5c8a;
}
#copyright{
	color: #007399;
	text-align: left;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}
h2{
	font-family: verdana;
	color: maroon;
	font-size: 25px;
	text-decoration: underline;
}
td{
	font-size: 130%;
	font-family: Garamond;
}
td li{
	font-size: 80%;
	font-family: Courier New;
}
#tableachievement{
	text-align:left;
	border:solid grey;
	width: 50%;
	}
#linker{
	color: #8f246b;
	text-decoration: underline;
	float:left; 
}
.contacttable{
	background-color: lightgrey;
  	width: 60%;
 	border: 5px solid #003399;
 	padding: 30px;
 	margin: auto;
}
a{
	color: #2d5986;
	text-decoration: none;
}
td a{
	font-family: Courier New;
}
td a:hover{
	color: #cc0000;
}
